/* Main styles */

* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    user-select: none;
    touch-action: pan-y;
}

::-webkit-scrollbar {
    display: none;
}

/* html{

} */

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    cursor: default;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

hr{
    border: 0;
    height: 1px;
    width: 100%;
    box-sizing: border-box;
    background-color: #eee;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Icons */

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/MaterialIconsOutlined.woff) format('woff');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


/* Header */

.header {
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1;
    border-bottom: 1px solid #eee;
    width: 100%;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.10);
    -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.10);
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    padding: 20px 30px;
    align-items: center;
    justify-content: center;
}

.header-logo {
    /* border: 1px solid red; */
}

.header-logo img {
    height: 30px;
    width: auto;
    vertical-align: -3px;
}

.header-menu {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.header-menu-item {
    height: auto;
    text-align: center;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.header-menu-item .material-symbols-outlined{
    vertical-align: -5px;
}


.header-menu-item:hover {
    /* background-color: #efefef; */
    color: #ec2424;
}

.header-menu-item-icon {
    margin: 0 auto;
}

.header-menu-title {
    font-size: 0.7em;
    text-align: center;
}

/* Header popup */

#menu-notifications{
    right: 70px;
    display: none;
}

#menu-settings{
    right: 16px;
    display: none;
}

.menu{
    width: 300px;
    height: auto;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 15px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.10);
    -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.10);
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.10);
}

.menu-content{
    padding: 15px;
}

.menu-header{
    font-size: 0.6em;
    font-weight: bold;
    color: #ec2424;
    margin-bottom: 20px;
}

.menu-block-header{
    font-size: 0.6em;
    font-weight: bold;
    color: #888;
    margin-bottom: 8px;
}

.menu-text-h{
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
}

.menu-button{
    color: #111;
    padding: 12px 10px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #eee;
    /* box-shadow: 0 7px 17px -8px rgba(0, 0, 0, .3); */
    transition: all .4s ease-out;
    margin-top: 15px;
}

.menu-button:hover {
    cursor: pointer;
    /* box-shadow: 0 7px 17px -8px rgba(0, 0, 0, .8);
    transform: scale(1.009);
    transition: all .4s ease-in; */
}


/* Settings */

/* Themes */

.themes {
    display: flex;
    gap: 10px;
    box-sizing: border-box;
}

.theme-preview {
    flex: 1; /* Add this line to make the divs fill available space */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme-image img {
    border: 2px solid #eee;
    border-radius: 8px;
    max-width: 100%; /* Add this line to make the image fit its parent div */
    max-height: 100%; /* Add this line to make the image fit its parent div */
    box-sizing: border-box;
}

.theme-name {
    font-size: 0.7em;
    font-weight: bold;
    text-align: center;
}

.active > img{
    border: 2px solid #ec2424;
}

.theme-preview:hover > .theme-image img{
    border: 2px solid #ec2424;
    cursor: pointer;
}

.setting{
    /* margin-top: 10px;
    margin-bottom: 10px; */
    display: flex;
    align-items: center;
    line-height: 1.7em;
    gap: 10px;
}

.setting div{
    margin-top: -3px;
    font-size: 0.9em;
}



/* Content */

.content {
    margin-top: 110px;
}


/* Sections */

.separator {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 0.9em;
    color: #ddd;
    margin-left: 30px;
    margin-right: 30px;
    box-sizing: border-box;
}

.separator::after {
    content: '';
    flex-grow: 1;
    border-bottom: 1px solid #eee;
    margin-left: 30px;
    padding-top: 3px;
}



/* Categories */

.category-name {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.category-button {
    float: right;
    color: red;
}


.category-description {
    margin-top: 10px;
    font-size: 0.9em;
    margin-left: 30px;
    margin-right: 30px;
}

.category-titles {
    padding: 30px;

    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* Projects */

.project {
    box-sizing: border-box;
    flex-grow: 0;
    cursor: pointer;
    text-align: center;
    transition: all .1s ease-out;
    width: 164px;
}

.project:hover {
    transform: scale(1.01);
    transition: all .1s ease-in;
}

.project-poster {
    text-align: center;
    box-sizing: border-box;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 7px 17px -8px rgba(0, 0, 0, .8);
}

.project-poster img {
    box-sizing: border-box;
    object-fit: cover;
    aspect-ratio: 1687 / 2500;
    width: 163px;
    display: block;
    height: auto;
    border-radius: 10px;
}

.project-name {
    width: auto;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1em;
    margin-top: 18px;
    margin-bottom: 7px;
}

.project-description,
.project-phase,
.project-saga,
.project-date,
.project-type {
    width: auto;
    margin-top: 4px;
    text-align: center;
    font-size: 0.8em;
}

.project-description {
    display: none;
}


/* Characters */

.character {
    box-sizing: border-box;
    flex-grow: 0;
    cursor: pointer;
    text-align: center;
    transition: all .1s ease-out;
    width: 164px;
}

.character:hover {
    transform: scale(1.01);
    transition: all .1s ease-in;
}

.character-image {
    text-align: center;
    box-sizing: border-box;
    background-color: #ddd;
    border-radius: 50%;
}

.character-image img {
    box-sizing: border-box;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 164px;
    display: block;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 7px 17px -8px rgba(0, 0, 0, .8);
}

.character-alias {
    width: auto;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1em;
    margin-top: 18px;
    margin-bottom: 7px;
}

.character-name {
    width: auto;
    margin-top: 4px;
    text-align: center;
    font-size: 0.8em;
}


.character-universe {
    width: auto;
    margin-top: 4px;
    text-align: center;
    font-size: 0.8em;
}

/* Preloader */

@keyframes contentLoadAnimation {
    0% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

.separator,
.category-name,
.category-description,
.project-poster,
.project-name,
.project-data,
.character-image,
.character-alias,
.character-name,
.character-universe {
    animation: contentLoadAnimation .5s ease-in-out;
}


.preloader {
    /* width: 100%;
    height: fit-content;
    margin-top: -24px;
    position: absolute; */
    margin-top: 110px;
}


.category-titles-preloader {
    padding: 30px;

    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
}

.category-name-preloader {
    background-color: #ddd;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 174px;
    height: 34px;
    border-radius: 5px;
}

.category-description-preloader {
    margin-top: 10px;
    font-size: 0.9em;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #ddd;
    color: #ddd;
    width: 80%;
    height: 20px;
    border-radius: 5px;
}

.project-preloader {
    box-sizing: border-box;
    flex-grow: 0;
    cursor: pointer;
    text-align: center;
    transition: all .4s ease-out;
    width: 164px;
}

.project-poster-preloader {
    box-sizing: border-box;
    object-fit: cover;
    aspect-ratio: 1687 / 2500;
    width: 164px;
    height: auto;
    display: block;
    border-radius: 10px;
    background-color: #ddd;
    color: #ddd;
}

.project-name-preloader {
    width: 119px;
    height: 18px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1em;
    margin-top: 18px;
    margin-bottom: 7px;
    background-color: #ddd;
    color: #ddd;
    border-radius: 5px;
}

.project-data-preloader {
    width: 105px;
    height: 14px;
    margin: auto;
    margin-top: 4px;
    text-align: center;
    font-size: 0.8em;
    background-color: #ddd;
    color: #ddd;
    border-radius: 5px;
}

@keyframes preloadAnimation {

    0%,
    100% {
        opacity: 0.59;
    }

    50% {
        opacity: 1;
    }
}

.category-name-preloader,
.category-description-preloader,
.project-poster-preloader,
.project-name-preloader,
.project-data-preloader {
    animation: preloadAnimation 1.5s ease-in-out infinite;
}


/* Widgets */

#widget-next{
    /* color: #5747D0; */
    /* background-color: #5747D0; */
}


#widget-random {
    /* background-color: #D85946; */
}

#widget-trivia {
    /* background-color: #FFB800; */
}

#widget-quiz {
    /* background-color: #0066FF; */
}

#widget-rewatch {
    /* background-color: #67BFE4; */
}

#widget-music {
    /* background-color: #E46776; */
}


.widget {
    height: auto;
    border-radius: 20px;
    padding: 17px 20px 20px 20px;
    box-sizing: border-box;
    margin-top: 60px;
    margin-bottom: 50px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid #eee;
    color: #111;

}

.widget-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-name{
    color: #111;
    flex: 1;
}

.widget-menu{
    flex: 1;
    text-align: right;
}

.widget-menu .material-symbols-outlined {
    vertical-align: -4px;
    color: #111;
    transition: color 0.3s;
}

.widget-menu .material-symbols-outlined:hover {
    cursor: pointer;
}

.widget-info {
    padding: 15px;
    color: #111;
    text-align: left;
    font-weight: normal;
    display: none;
}


.widget-content {
    text-align: center;
    padding: 15px;
    color: #111;
}

.widget-text-h{
    font-size: 0.9em;
}

.widget-text-c{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.4em;
}

.widget-text-d{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.widget-button {
    color: #111;
    margin-top: 10px;
    padding: 15px 10px;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #eee;
    /* box-shadow: 0 7px 17px -8px rgba(0, 0, 0, .3); */
    transition: all .4s ease-out;
}

.widget-button:hover {
    cursor: pointer;
    /* box-shadow: 0 7px 17px -8px rgba(0, 0, 0, .8);
    transform: scale(1.009);
    transition: all .4s ease-in; */
}




/* Filters */

.filters {
    display: none;
    border-top: 1px solid #ddd;
    overflow: scroll;
}


.filters-header {
    border-bottom: 1px solid #ddd;
}

.filters-title {
    margin: 10px 15px;
    font-weight: bold;
}

.filters-clear {
    float: right;
    font-weight: normal;
    font-size: 0.8em;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.filters-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
    box-sizing: border-box;
    margin: 50px 30px;
}

.filters-category {
    flex-grow: 1;
}

.filters-cat-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.filter {
    font-size: 0.9em;
    line-height: 1.7em;
    position: relative;
}

.filter input {
    float: right;
    margin-right: 30px;
}

.filter span {
    vertical-align: -3px;
    font-size: 1.2em;
    color: #888;
}


input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: red;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    color: white;
    border-radius: 5px;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    background-color: white;
}

input[type="checkbox"]:checked {
    transform: scale(1);
    background-color: red;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: white;
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid blue;
    outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
    color: #ddd;
    cursor: not-allowed;
}


/* Footer */

.footer {
    border-top: 1px solid #eee;
    color: #AAAAAA;
    padding: 20px 30px 30px 30px;
}

.footer-logo {
    height: 16px;
    width: auto;
    color: #AAAAAA;
    fill: #AAAAAA;
    /* display: block;
    margin-bottom: 15px; */
    vertical-align: -4px;
}

.footer-block {
    display: flex;
    padding-bottom: 20px;
}

.footer-block:last-child {
    padding-bottom: 0;
}

.footer-about {
    font-size: 0.8em;
    line-height: 1.4em;
    padding-bottom: 15px;
}

.footer-sources {
    border-top: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.8em;
    display: flex;
}

.footer-source {
    flex: 1;
}

.footer-text {
    margin-top: 10px;
}

.footer-links {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-sources a {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    color: #aaa;
    text-decoration: none;
}

.footer-sources a:hover {
    text-decoration: underline;
}

.footer-year a {
    color: #aaa;
    text-decoration: none;
}

.footer-year a:hover {
    text-decoration: underline;
}

.footer-year {
    font-size: 0.8em;
    flex: 1;
}

.footer-author a {
    color: inherit;
    text-decoration: none;
}

.footer-author {
    flex: 1;
    text-align: right;
    font-size: 0.8em;
}

.footer-copyright {
    font-size: 0.7em;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eee;
    text-align: justify;
}

.me-logo {
    height: 12px;
    width: auto;
    vertical-align: -2px;
    color: #AAAAAA;
    fill: #AAAAAA;
}


/* Project Window */

.project-page-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: none;
}


.project-page {
    width: 60%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: #fff;
    box-sizing: border-box;
    overscroll-behavior: none;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 0;
    border-radius: 15px;
    animation: fadeInUp 0.3s ease-in-out forwards;
}


.project-page-animation {
    animation: fadeInUp 0.3s ease-in-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        /* transform: translateY(0%);
        transform: translateX(-50%); */
    }
    to {
        opacity: 1;
    }
}


.project-page-close {
    position: sticky;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 3;
}

.project-page-close-button {
    height: 8px;
    width: 50px;
    background-color: rgba(180, 180, 180, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    display: none;
}

.project-page-close-button-x {
    color: rgba(124, 124, 124, 0.5);
    padding: 10px 10px 6px 10px;
    right: 10px;
    top: 10px;
    font-size: 1em;
    position: absolute;
    width: fit-content;
    transition: background-color 0.3s;
    border-radius: 8px;
}

.project-page-close-button-x:hover {
    background-color: rgba(180, 180, 180, 0.5);
    /* backdrop-filter: blur(5px); */
    /* -webkit-backdrop-filter: blur(5px); */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.project-page-header-little {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 15px 15px 15px 20px;
    z-index: 1;
    /* display: none; */
}

.project-page-header-little-title {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 3px;
}

.project-page-header-little-type {
    font-size: 0.8em;
}

/* Project page cover */

.project-page-cover {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    -webkit-filter: saturate(100%) blur(24px);
    filter: saturate(100%) blur(24px);
    -webkit-transform: translateZ(0) scale(2.2);
    transform: translateZ(0) scale(2.2);
    z-index: 2;
    position: relative;
    margin-top: -110px;
}


/* Project page content */

.project-page-content {
    margin: 0 auto;
}

.project-page-header {
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.header-button {
    float: right;
    margin-right: 20px;
    margin-top: -10px;
    font-weight: normal;
    font-size: 0.8em;
    padding: 10px;
    text-decoration: underline;
    color: #ec2424;
}

.header-button:hover {
    cursor: pointer;
    text-decoration: none;
}

/* Project page section content */

.project-page-section-content {
    padding: 30px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    gap: 26px;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* Project card */

.project-page-card-block {
    z-index: 2;
    /* background-color: #fff; */
    /* border: 1px solid #fff; */
    position: relative;
}

.project-page-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -130px;
    margin-bottom: 30px;
}

.project-page-card .project-poster {
    width: 163px;
    /* box-shadow: none; */
}

.project-page-name {
    width: auto;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.8em;
    margin-top: 18px;
    margin-bottom: 7px;
    padding-left: 30px;
    padding-right: 30px;

}

/* Project description */

.project-page-description {
    border-top: 1px solid #eee;
    padding: 30px;
}

/* Project universe details */

.project-page-universe {
    border-top: 1px solid #eee;
}

.project-page-info-block {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
    min-width: fit-content;
}

.project-page-info-block-name {
    font-weight: bold;
}

.project-page-info-block-content {}

/* Project characters */

.project-page-characters {
    border-top: 1px solid #eee;
}

.project-page-section-content .character {
    width: 106px;
}

.project-page-section-content .character-image img {
    width: 106px;
    height: 106px;
}

/* Project episodes (for TV) */

.project-page-episode {
    height: auto;
    border: 1px solid #eee;
    border-radius: 6px;
    display: flex;
    gap: 5px;
    min-width: 320px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: left;   
}

.project-season-cover img{
    height: 112px;
    width: auto;
    border-radius: 6px 0 0 6px;
    vertical-align: -3px;
    /* aspect-ratio: 1 / 1;
    object-fit: cover; */
}

.project-page-season-header{
    font-size: 1em;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.project-page-season-header .season-grid-view{
    text-align: right;
    float: right;
    font-weight: normal;
    font-size: 0.8em;
    color: #ec2424;
}

.project-page-season-header .season-grid-view:hover{
    color: #ec2424;
    cursor: pointer;
    text-decoration: underline;
}

.project-page-seasons-section {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    gap: 26px;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
}

.project-page-seasons-section:last-child{
    padding-bottom: 30px
}

.project-page-episode-number {
    font-size: 0.8em;
    color: #444;
}

.project-epsiode-details {
    padding: 10px;
}

.project-episode-name {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 3px;
}

.project-episode-description {
    font-size: 0.8em;
    margin-bottom: 3px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-episode-release-date {
    font-size: 0.8em;
    color: #777;
}

.project-page-episode .project-poster {
    width: 80px;
    height: 119px;
    box-shadow: none;
}

.project-page-episode .project-poster img {
    width: 80px;
    height: 119px;
    border-radius: 8px;
}

/* Project detalis */

.project-page-details {
    border-top: 1px solid #eee;
}

.project-page-episodes {
    border-top: 1px solid #eee;
}

/* Project events */

.project-page-events {
    border-top: 1px solid #eee;
}


.project-page-event {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 15px;
    min-width: 300px;
}

.project-page-event:last-child {
    margin-bottom: 0;
}

/* Project page links */
.project-page-links {
    padding: 30px 30px 35px 30px;
    border-top: 1px solid #eee;
}

.project-page-link {
    font-size: 1.2em;
    font-weight: bold;
    width: fit-content;
    border-left: 3px solid #ec2424;
    padding-left: 8px;
    color: #000000;
}

.project-page-link a{
    color: #000000;
    text-decoration: none;
}

.project-page-link:hover {
    cursor: pointer;
    /* color: #f5c518; */
}

.project-page-link:hover .material-symbols-outlined {
    cursor: pointer;
    color: #ec2424;
    transition: color 0.3s;
}

.project-page-link .material-symbols-outlined {
    vertical-align: -11px;
    margin-left: -6px;
    font-size: 1.8em;
    color: #000;
    transition: color 0.3s;
}





/* Mobile styles */

@media (max-width: 1000px) {

    #menu-notifications{
        right: 16px;
    }

    .header{
        padding-top: env(safe-area-inset-top);
        /* height: env(safe-area-inset-top) */
    }

    .content {
        margin-top: calc(env(safe-area-inset-top) + 110px);
        /* margin-top: 110px; */
    }

    .preloader{
        margin-top: calc(env(safe-area-inset-top) + 110px);
    }

    .menu{
        /* top: calc(env(safe-area-inset-top) + 60px); */
        width: 100%;
        height: auto;
        overflow-y: scroll;
        position: fixed;
        top: auto; /* Reset the top value */
        bottom: 0; /* Attach to the bottom of the browser window */
        left: 0;
        right: 0;
        padding: 10px;
        padding-bottom: env(safe-area-inset-top);
        box-sizing: border-box;
    }

    /* Project page mobile window */

    .project-page-background {
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 2;
    }

    .project-page-cover{
        margin-top: -150px;
        /* margin-top: -70px; */
    }

    .project-page-header-little{
        top: -50px;
        height: 67px;
        display: flex;
        align-items: flex-end;
        padding: 32px 15px 15px 20px;
        /* padding-top: env(safe-area-inset-top); */
        /* height: env(safe-area-inset-top); */
    }

    .project-page {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 2;
        border: 0;
        border-radius: 0;
        padding-bottom: 20px;
        /* padding-top: 65px; */
        padding-top: env(safe-area-inset-top);
    }

    .project-page-close{
        top: 10px;
    }

    .project-page-close-button {
        display: block;
    }

    .project-page-close-button-x {
        display: none;
    }
}